<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs', { title: 'Customers | Dashboard', descr: 'Customers insights dashboard v1' }) %>

<body>
    <%- include('./pages/dashboard.ejs') %>
</body>

</html>